{% extends "repositorio/index.html" %}


{% block titulo %}
<h1 class="mb-5">Responsables</h1>                                
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Responsables</h2></td>
        <td>
            <a
            href="{% url 'responsableCreate' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Agregar"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Posicion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for p in responsable_list  %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.apellido }}</td>
            <td>{{ p.posicion }}</td>
            <td>
                <a
                  href="{% url 'responsableUpdate' p.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa-duotone fa-solid fa-user-pen" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'responsableDelete' p.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa-solid fa-trash-can" title="Delete Record"></i>
                </a>                
            </td>              
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}